@font-face {
	font-family: diablo;
	src: url(../assets/diablo.woff);
}

#top-bar ul {
	padding: 10px;
	text-align: center;
}

#top-bar li {
	display: inline-block;
	padding: 0px 10px 0px 50px
}

#top-bar p {
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: diablo;
}

#content {
	background-image: url(../assets/background2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 1024px;
	height: 768px;
	position: relative;
}

#player {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom:0;
}

#enemy {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	right: 0;
}

#xp_bar {
	text-align: center;
	color: white;
	font-size: 16px;
	font-family: diablo;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid white;
	margin-bottom: 20px;
}

#buttons {
	display: block;
	margin-left: auto;
	margin-right: auto;
}