@font-face {
	font-family: diablo;
	src: url(../assets/diablo.woff);
}

body {
	background-color: black;
	color: white;
	font-family: diablo;
}

#title_area h1 {
	font-family: diablo;
	color: white;
	font-size: 32px;
	text-align: center;
	margin-bottom: 10px;
}

.game-container {
	display: block;
	margin: 0 auto;
	height: 500px;
}

#top-bar ul {
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 auto;
	text-align: center;
}

#top-bar li {
	display: inline-block;
	padding: 0px 10px 0px 50px
}

#top-bar p {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

#content {
	border: 1px solid white;
	background-image: url(../assets/background2.png);
	background-size: cover;
	height: 500px;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
}

#player {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom:0;
	left: 50px;
}

#enemy {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	right: 50px;
}

#xp_bar {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid white;
	width: 960px;
	margin: 0 auto;
}

#buttons {
	border: 1px solid white;
	max-width: 960px;
	margin: 0 auto;
}

.button {
  min-width: 320px;
  width: 33.33%;
  float: left;
  color: black;
}