@font-face {
	font-family: pixel;
	src: url(../assets/Minecraft.ttf);
}

body {
	background-color: black;
	color: white;
	font-family: pixel;
}

.game-container {
	display: block;
	margin: 0 auto;
}

#content {
	background-image: url(../assets/background2.png);
	background-size: cover;
	height: 500px;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

#content.background-change {
	background-image: url(../assets/background1.png);
}

#intro-text {
	font-size: 16px;
	position: absolute;
	left: 40%;
	bottom: 25%;
}

.window {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.7);
	display: none;
	overflow: hidden;
	margin-bottom: 3%;
}

.window ul {
	float: left;
	width: 50%;
}

.window li {
	padding: 2.2%;
	text-decoration: none;
}

#upgrade-buttons {
	margin-top: 1%;
}

.upgrade-button {
	float: right;
	margin-top: 1%;
	width: 40%;
	color: black;
}

#points {
	text-align: center;
	font-size: 22px;
}

#hench-gold {
	text-align: center;
	font-size: 22px;
}

#stats-window p {
	clear: both;
}

#henchmen-buttons {
	margin-top: 3%;
	margin-bottom: 3%;
}

#level {
	position: absolute;
	left: 42%;
	font-size: 24px;
}

#gold {
	position: absolute;
	padding-top: 5%;
	left: 42%;
	font-size: 24px;
}

#top-bar {
	margin: 0 auto;
	max-width: 1024px;
	height: 20px;
}

#player-health {
	width: 33.33%;
	height: 20px;
	float: left;
}

progress#player-health-bar {
	-webkit-appearance: none;
  appearance: none;
	width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #880015;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#enemy-health {
	width: 33.33%;
	height: 20px;
	float: right;
}

progress#enemy-health-bar {
  -webkit-appearance: none;
  appearance: none;
	width: 100%;
}

#buttons {
	max-width: 1024px;
	margin: 0 auto;
}

.button {
  color: #ffffff;
  font-size: 20px;
  background: #880015;
  padding: 3px 20px 3px 20px;
  border-bottom: solid #666666 1px;
  text-decoration: none;
  min-width: 32px;
  width: 33.33%;
}

.button:hover {
  background: #fc3c3c;
  text-decoration: none;
}

#player {
	position: absolute;
	max-height: 280px;
	margin: 5px;
	padding: 5px;
	bottom:0;
	left: 25%;
}

#enemy {
	position: absolute;
	max-height: 270px;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	left: 80%;
}

#player-dead-div {
	background-color: black;
	color: #880015;
	height: 500px;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

#player-dead-div h1 {
	text-align: center;
	margin-bottom: 5%;
}

#game-stats {
	text-align: center;
}

#player-dead-div h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 44px;
}

#player-dead-div p {
	font-size: 22px;
}

#refresh {
	position: absolute;
	left: 33.33%;
}