@font-face {
	font-family: pixel;
	src: url(../assets/Minecraft.ttf);
}

body {
	background-color: black;
	color: white;
	font-family: pixel;
}

.game-container {
	display: block;
	margin: 0 auto;
}

#content {
	background-image: url(../assets/background2.png);
	background-size: cover;
	height: 768px;
	width: 1024px;
	position: relative;
	margin: 0 auto;
}

#content.background-change {
	background-image: url(../assets/background1.png);
}

#intro-text {
	font-size: 16px;
	position: absolute;
	left: 40%;
	bottom: 25%;
}

.window {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.7);
	display: none;
	overflow: hidden;
	margin-bottom: 3%;
}

.window ul {
	float: left;
	width: 50%;
	list-style-type: none;
}

.window li {
	padding-left: 2.2%;
	padding-right: 2.2%;
	padding-top: 3px;
	text-decoration: none;
}

.window p {
	font-size: 16px;
}

#upgrade-buttons {
	margin-top: 1%;
}

.upgrade-button {
	float: right;
	margin-top: 1%;
	width: 40%;
	color: black;
}

#points {
	text-align: center;
}

#hench-gold {
	text-align: center;
}

#stats-window p {
	clear: both;
}

#henchmen-buttons {
	margin-top: 3%;
	margin-bottom: 3%;
}

#level {
	position: absolute;
	left: 42%;
	font-size: 32px
}

#gold {
	position: absolute;
	padding-top: 5%;
	left: 42%;
	font-size: 32px;
}

#enemy-damage-text {
	position: absolute;
	font-size: 20px;
	color: red;
}

#player-damage-text {
	position: absolute;
	font-size: 20px;
	color: red;
	left: 10%;
	top: 30%;
}

#top-bar {
	margin: 0 auto;
	width: 1024px;
	height: 50px;
}

#player-health {
	width: 33.33%;
	height: 40px;
	float: left;
}

progress#player-health-bar {
	-webkit-appearance: none;
	-moz-appearance: none;
  appearance: none;
	width: 100%;
	height: 40px;
}

progress[value]::-webkit-progress-bar {
  background-color: #880015;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
  background-color: #880015;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#enemy-health {
	width: 33.33%;
	height: 40px;
	float: right;
}

progress#enemy-health-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	width: 100%;
	height: 40px;
}

#buttons {
	width: 1024px;
	margin: 0 auto;
}

.button {
  color: #ffffff;
  background: #880015;
  padding: 3px 10px 3px 10px;
  border-bottom: solid #666666 1px;
  text-decoration: none;
  min-width: 32px;
  width: 33.33%;
}

.button:hover {
  background: #fc3c3c;
  text-decoration: none;
}

.close {
	margin: 0 auto;
	display: block;
}

#player {
	position: absolute;
	height: 280px;
	margin: 5px;
	padding: 5px;
	bottom:0;
	left: 25%;
}

#enemy {
	position: absolute;
	height: 270px;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	left: 80%;
}

#player-dead-div {
	background-color: black;
	color: #880015;
	height: 768px;
	width: 1024px;
	position: relative;
	margin: 0 auto;
}

#player-dead-div h1 {
	text-align: center;
	margin-bottom: 5%;
}

#game-stats {
	text-align: center;
}

#player-dead-div h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 44px;
}

#player-dead-div p {
	font-size: 22px;
}

#refresh {
	position: absolute;
	left: 33.33%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1280px) and (max-height: 800px) {
	/* 13" MBP (1280 x 800) */

	#content {
		height: 500px;
	}

	#player-dead-div {
		height: 500px;
	}
}

@media only screen and (max-width: 736px) {
	/* iPhone 6 Plus (736 x 414) */

	#content {
		height: 414px;
		width: 736px;
	}

	.window p {
		font-size: 13px;
	}

	#intro-text {
		font-size: 14px;
		left: 46%;
		bottom: 23%;
	}

	#level {
		font-size: 16px
	}

	#gold {
		font-size: 16px;
	}

	#top-bar {
		width: 736px;
		height: 25px;
	}

	#player-health {
		height: 20px;
	}

	progress#player-health-bar {
		height: 20px;
	}

	#enemy-health {
		height: 20px;
	}

	progress#enemy-health-bar {
		height: 20px;
	}

	#player {
		height: 230px;
	}

	#enemy {
		height: 210px;
	}

	#buttons {
		width: 736px;
	}

	#player-dead-div {
		height: 414px;
		width: 736px;
	}
}

@media only screen and (max-width: 667px) {
	/* iPhone 6 (667 x 375) */

	body {
		font-size: 13px;
	}

	#content {
		height: 375px;
		width: 667px;
	}

	.window p {
		font-size: 12px;
	}

	#intro-text {
		font-size: 13px;
		left: 46%;
		bottom: 22%;
	}

	#player {
		height: 210px;
	}

	#enemy {
		height: 190px;
	}

	#level {
		font-size: 15px
	}

	#gold {
		font-size: 15px;
	}

	#top-bar {
		width: 667px;
		height: 25px;
	}

	#player-health {
		height: 20px;
	}

	progress#player-health-bar {
		height: 20px;
	}

	#enemy-health {
		height: 20px;
	}

	progress#enemy-health-bar {
		height: 20px;
	}

	#buttons {
		width: 667px;
	}

	#player-dead-div {
		height: 375px;
		width: 667px;
	}
}

@media only screen and (max-width: 598px) {
	/* Nexus 5 (598 x 335) */

	body {
		font-size: 12px;
	}

	#content {
		height: 335px;
		width: 598px;
	}

	.window p {
		font-size: 10px;
	}


	#player {
		height: 200px;
	}

	#player-damage-text {
		top: 26%;
	}

	#enemy {
		height: 180px;
	}

	#level {
		font-size: 14px
	}

	#gold {
		font-size: 14px;
	}

	#intro-text {
		font-size: 12px;
		left: 46%;
		bottom: 20%;
	}

	#top-bar {
		width: 598px;
		height: 25px;
	}

	#player-health {
		height: 20px;
	}

	progress#player-health-bar {
		height: 20px;
	}

	#enemy-health {
		height: 20px;
	}

	progress#enemy-health-bar {
		height: 20px;
	}

	#buttons {
		width: 598px;
	}

	#player-dead-div {
		height: 335px;
		width: 598px;
	}
}

@media only screen and (max-width: 568px) {
	/* iPhone 5 (568 x 320) */

	body {
		font-size: 11px;
	}

	#content {
		height: 320px;
		width: 568px;
	}

	.window p {
		font-size: 9px;
	}


	#intro-text {
		font-size: 11px;
		left: 46%;
		bottom: 20%;
	}

	#player {
		height: 180px;
	}

	#enemy {
		height: 160px;
	}

	#player-damage-text {
		top: 28%;
	}

	#level {
		font-size: 13px
	}

	#gold {
		font-size: 13px;
	}

	#top-bar {
		width: 568px;
		height: 25px;
	}

	#player-health {
		height: 20px;
	}

	progress#player-health-bar {
		height: 20px;
	}

	#enemy-health {
		height: 20px;
	}

	progress#enemy-health-bar {
		height: 20px;
	}

	#buttons {
		width: 568px;
	}

	#player-dead-div {
		height: 320px;
		width: 568px;
	}
}

@media only screen and (max-width: 480px) {
	/* iPhone 4 (480 x 320) */

	body {
		font-size: 10px;
	}

	#content {
		height: 320px;
		width: 480px;
	}

	.window p {
		font-size: 8px;
	}


	#intro-text {
		font-size: 10px;
		left: 50%;
		bottom: 20%;
	}

	#player {
		height: 170px;
	}

	#enemy {
		height: 150px;
	}

	#level {
		font-size: 12px
	}

	#gold {
		font-size: 12px;
	}

	#top-bar {
		width: 480px;
		height: 25px;
	}

	#player-health {
		height: 20px;
	}

	progress#player-health-bar {
		height: 20px;
	}

	#enemy-health {
		height: 20px;
	}

	progress#enemy-health-bar {
		height: 20px;
	}

	#buttons {
		width: 480px;
	}

	#player-dead-div {
		height: 320px;
		width: 480px;
	}
}
