@font-face {
	font-family: diablo;
	src: url(../assets/diablo.woff);
}

body {
	background-color: black;
	color: white;
	font-family: diablo;
}

#top-bar {
	margin: 0 auto;
	max-width: 1024px;
	height: 10px;
}

#player-health {
	width: 33.33%;
	height: 10px;
	float: left;
}

#player-health-bar {
	background-color: #880015;
	height: 100%;
	width: 100%;
}

#enemy-health {
	width: 33.33%;
	height: 10px;
	float: right;
}

#enemy-health-bar {
	background-color: #1C8C3E;
	height: 100%;
	width: 100%;
}

.game-container {
	display: block;
	margin: 0 auto;
	max-height: 580px;
	margin-top: 30px;
}

#content {
	border: 1px solid white;
	background-image: url(../assets/background-outside-1.png);
	background-size: cover;
	height: 580px;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

#player {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom:0;
	left: 50px;
}

#enemy {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	right: 50px;
}

#buttons {
	max-width: 1024px;
	margin: 0 auto;
}

#stats-btn {
  min-width: 32px;
  width: 33.33%;
  float: right;
  color: black;
}

#inv-btn {
	min-width: 32px;
	width: 33.33%;
	float: left;
	color: black;
}