@font-face {
	font-family: diablo;
	src: url(../assets/diablo.woff);
}

body {
	background-color: black;
	color: white;
	font-family: diablo;
}

.game-container {
	display: block;
	margin: 0 auto;
	max-height: 580px;
}

#content {
	background-image: url(../assets/background-outside-1.png);
	background-size: cover;
	height: 580px;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

#stats-window {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

#level {
	position: absolute;
	left: 43%;
	font-size: 24px;
}

#top-bar {
	margin: 0 auto;
	max-width: 1024px;
	height: 10px;
}

#player-health {
	width: 33.33%;
	height: 10px;
	float: left;
}

progress#player-health-bar {
	-webkit-appearance: none;
  appearance: none;
	width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #880015;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#enemy-health {
	width: 33.33%;
	height: 10px;
	float: right;
}

progress#enemy-health-bar {
  -webkit-appearance: none;
  appearance: none;
	width: 100%;
}

#buttons {
	max-width: 1024px;
	margin: 0 auto;
}

#stats-btn {
  min-width: 32px;
  width: 33.33%;
  float: right;
  color: black;
}

#inv-btn {
	min-width: 32px;
	width: 33.33%;
	float: left;
	color: black;
}

#player {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom:0;
	left: 5%;
}

#enemy {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	left: 80%;
}