@font-face {
	font-family: diablo;
	src: url(../assets/diablo.woff);
}

body {
	background-color: black;
	color: white;
	font-family: diablo;
}

#title_area h1 {
	font-family: diablo;
	color: white;
	font-size: 32px;
	text-align: center;
	margin-bottom: 30px;
}

.game-container {
	display: block;
	margin: 0 auto;
	height: 560px;
}

#top-bar ul {
	padding: 10px;
	text-align: center;
}

#top-bar li {
	display: inline-block;
	padding: 0px 10px 0px 50px
}

#top-bar p {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

#content {
	background-image: url(../assets/background2.png);
	background-size: cover;
	height: 560px;
	position: relative;
}

#player {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom:0;
}

#enemy {
	position: absolute;
	margin: 5px;
	padding: 5px;
	bottom: 0;
	right: 0;
}

#xp_bar {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid white;
	margin-bottom: 20px;
}

#buttons {
	display: block;
	margin: 0 auto;
}